<!-- fabricData.html -->

{% extends 'base.html' %}
{% block content %}
    <!-- Content -->
    <div class="content">
        <div class="container-fabrics">
            <div class="table-responsive">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Fabric ID</th>
                            <th scope="col">Total Defects</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for fabric in fabrics %}
                            <tr>
                                <td>{{ fabric.id }}</td>
                                <td>{{ fabric.fabric_id }}</td>
                                <td>{{ fabric.total_defects }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
