<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   
    <div class="wrapper">
      {% if error_statement %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ error_statement }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
          </button>
      </div>
    {% endif %}
            <div class="form-body">
                <form action="/Fabrico/RegisterForm">
                  <div class="input-box">
                    <label for="Username">System Id</label>
                    <br>
                    <input type="text" name="systemid" id="systemid" placeholder="Admin" required>
                    <i class='bx bxs-user'></i>
                  </div>
                  <div class="input-box">
                    <label for="Username">System Username</label>
                    <br>
                    <input type="text" name="username" id="Username" placeholder="Admin" required>
                    <i class='bx bxs-user'></i>
                  </div>
                  <div class="input-box">
                    <label for="password">Password</label>
                    <br>
                    <input type="password" name="password" id="password" placeholder="Password">
                    <i class='bx bxs-lock'></i>
                  </div>
                  <br>
                  <div class="forget">
                     <a href="#">Forget Password?</a>
                  </div>
                  <button type="submit" class="btn"> Sign Up</button>
                  <div class="register">
                     <p>Already have an account? <a href="/Fabrico">Sign In</a></p>
                  </div>
                </form>

        </div>
    </div>

</body>
</html>